# Variables de entorno para Render
# Copia este archivo como .env y configura los valores

# Configuración de la aplicación
SPRING_PROFILES_ACTIVE=prod
PORT=10000

# Base de datos MySQL en Railway
SPRING_DATASOURCE_URL=jdbc:mysql://crossover.proxy.rlwy.net:16755/railway
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=UHHTHmYdBNRdADMpLpcrDSMVhDBwJfCE

# Configuración JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_DATABASE_PLATFORM=org.hibernate.dialect.MySQLDialect

# Configuración de correo (opcional para producción)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=chonectenterprise@gmail.com
SPRING_MAIL_PASSWORD=vmom jgxx dfsj qsup

# JWT Secret (cámbialo por seguridad)
SECURITY_JWT_SECRET_KEY=miClaveSecretaSuperSeguraDeAlMenos256BitsParaHS256AlgorithmQueEsMuyLargaYSegura
SECURITY_JWT_EXPIRATION_TIME=3600000
