PORT = Mi Pueto
MYSQL_URL = La url de la Database
MYSQL_USER = El usuario de la base de datos
MYSQL_PASSWORD = La password de la base de datos
SECRET_KEY = Mi frase de seguridad XD
MAIL_USERNAME = El usuario con el que se manda los correos
MAIL_PASSWORD = El password que genera Gmail